# EV_Data_Preparation

## 1) Data Collection
* charging_data.csv : ev_data
* Weather.csv : weather_data

In [2]:
import pandas as pd
ev_data = pd.read_csv("charging_data.csv")
weather_data = pd.read_csv("weather_data.csv")

In [3]:
ev_data.info(); ev_data.describe(); ev_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126963 entries, 0 to 126962
Data columns (total 8 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Transaction Date (Pacific Time)  126797 non-null  object
 1   Charging Time (hh:mm:ss)         126963 non-null  object
 2   Energy (kWh)                     126963 non-null  float64
 3   GHG Savings (kg)                 126963 non-null  float64
 4   Gasoline Savings (gallons)       126963 non-null  float64
 5   Fee                              126963 non-null  float64
 6   Port Number                      126963 non-null  int64
 7   Ended By                         126929 non-null  object
dtypes: float64(4), int64(1), object(3)
memory usage: 7.7+ MB

,Transaction Date (Pacific Time),Charging Time (hh:mm:ss),Energy (kWh),GHG Savings (kg),Gasoline Savings (gallons),Fee,Port Number,Ended By
0,08-01-2017 06:59,01:39:55,5.273,2.215,0.662,1.21,2,Plug Out at Vehicle
1,08-01-2017 09:06,03:04:59,10.239,4.300,1.285,2.36,2,Plug Out at Vehicle
2,08-01-2017 09:18,02:37:49,8.010,3.364,1.005,1.84,2,Customer
3,08-01-2017 08:31,01:57:00,11.730,4.927,1.472,2.70,1,Plug Out at Vehicle
4,08-01-2017 09:44,01:29:05,7.843,3.294,0.984,1.80,2,Plug Out at Vehicle

In [4]:
ev_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Energy (kWh),126963.0,8.857845,7.584069,0.010,3.995,6.839,11.748,97.360
GHG Savings (kg),126963.0,3.720295,3.185309,0.004,1.678,2.872,4.934,40.891
Gasoline Savings (gallons),126963.0,1.111658,0.951801,0.001,0.501,0.858,1.474,12.219
Fee,126963.0,2.242409,2.253498,0.000,0.960,1.670,2.890,84.560
Port Number,126963.0,1.529572,0.499127,1.000,1.000,2.000,2.000,2.000

In [5]:
weather_data.info(); weather_data.describe(); weather_data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140637 entries, 0 to 140636
Data columns (total 8 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Date                140637 non-null  object
 1   Temp (C)            139784 non-null  float64
 2   Dew Point Temp (C)  139784 non-null  float64
 3   Rel Hum (%)         139784 non-null  float64
 4   Wind Spd (km/h)     139784 non-null  float64
 5   Visibility (km)     139784 non-null  float64
 6   Stn Press (kPa)     139784 non-null  float64
 7   Weather             139784 non-null  object
dtypes: float64(6), object(2)
memory usage: 8.6+ MB

,Date,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
0,2017-01-01,-1.8,-3.9,86.0,4.0,8.0,101.24,Fog
1,2017-01-01,-1.8,-3.9,86.0,4.0,8.0,101.24,Fog
2,2017-01-01,-1.8,-3.9,86.0,4.0,8.0,101.24,Fog
3,2017-01-01,-1.8,-3.9,86.0,4.0,8.0,101.24,Fog
4,2017-01-01,-1.4,-3.3,87.0,9.0,6.4,101.27,Fog

In [6]:
weather_data.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Temp (C),139784.0,8.814113,11.682938,-23.30,0.10,9.30,18.80,33.00
Dew Point Temp (C),139784.0,2.573525,10.876252,-28.50,-5.90,3.30,11.80,24.40
Rel Hum (%),139784.0,67.446947,16.917440,18.00,56.00,68.00,81.00,100.00
Wind Spd (km/h),139784.0,14.962685,8.698914,0.00,9.00,13.00,20.00,83.00
Visibility (km),139784.0,27.642491,12.615001,0.20,24.10,25.00,25.00,48.30
Stn Press (kPa),139784.0,101.050272,0.844638,97.52,100.56,101.07,101.58,103.65

## 2) Data Cleaning

In [7]:
ev_data = ev_data.drop_duplicates()
ev_data = ev_data.dropna().reset_index(drop=True)

In [8]:
weather_data = weather_data.drop_duplicates()
weather_data = weather_data.dropna().reset_index(drop=True)

## 2.1) Data preparation
* Rename variables.
* Convert US Dollar to Euro, gallons to liters.
* Parse and handle invalid dates.

In [9]:
ev_data.keys()

Index(['Transaction Date (Pacific Time)', 'Charging Time (hh:mm:ss)',
       'Energy (kWh)', 'GHG Savings (kg)', 'Gasoline Savings (gallons)', 'Fee',
       'Port Number', 'Ended By'],
      dtype='object')

In [10]:
ev_data = ev_data.rename({"Transaction Date (Pacific Time)": "Transaction_Date", 
                          "Charging Time (hh:mm:ss)": "Charging_Time",
                          "Energy (kWh)":"Energy_(kWh)", "GHG Savings (kg)":"GHG_Savings_(kg)",
                          "Gasoline Savings (gallons)": "Gasoline_Savings_(L)",
                          "Port Number":"Port", "Ended By":"Ended_By"}, axis=1)
ev_data.head()

,Transaction_Date,Charging_Time,Energy_(kWh),GHG_Savings_(kg),Gasoline_Savings_(L),Fee,Port,Ended_By
0,08-01-2017 06:59,01:39:55,5.273,2.215,0.662,1.21,2,Plug Out at Vehicle
1,08-01-2017 09:06,03:04:59,10.239,4.300,1.285,2.36,2,Plug Out at Vehicle
2,08-01-2017 09:18,02:37:49,8.010,3.364,1.005,1.84,2,Customer
3,08-01-2017 08:31,01:57:00,11.730,4.927,1.472,2.70,1,Plug Out at Vehicle
4,08-01-2017 09:44,01:29:05,7.843,3.294,0.984,1.80,2,Plug Out at Vehicle

In [11]:
ev_data['Fee'] *= [0.92]
ev_data['Gasoline_Savings_(L)'] *= [3.785412 ]

print(
ev_data['Fee'].head(),
ev_data['Gasoline_Savings_(L)'].head()
)

0    1.1132
1    2.1712
2    1.6928
3    2.4840
4    1.6560
Name: Fee, dtype: float64 0    2.505943
1    4.864254
2    3.804339
3    5.572126
4    3.724845
Name: Gasoline_Savings_(L), dtype: float64

In [12]:
def parse_date(date_str):
    if isinstance(date_str, str):
            date_str = date_str.replace('/', '-') 
    return date_str
 
ev_data['Transaction_Date'] = ev_data['Transaction_Date'].apply(parse_date)
weather_data['Date'] = weather_data['Date'].apply(parse_date)

In [13]:
ev_data[['Transaction_Date','Timestamp']] = ev_data['Transaction_Date'].str.split(' ', n=1, expand=True)
ev_data.head()

,Transaction_Date,Charging_Time,Energy_(kWh),GHG_Savings_(kg),Gasoline_Savings_(L),Fee,Port,Ended_By,Timestamp
0,08-01-2017,01:39:55,5.273,2.215,2.505943,1.1132,2,Plug Out at Vehicle,06:59
1,08-01-2017,03:04:59,10.239,4.300,4.864254,2.1712,2,Plug Out at Vehicle,09:06
2,08-01-2017,02:37:49,8.010,3.364,3.804339,1.6928,2,Customer,09:18
3,08-01-2017,01:57:00,11.730,4.927,5.572126,2.4840,1,Plug Out at Vehicle,08:31
4,08-01-2017,01:29:05,7.843,3.294,3.724845,1.6560,2,Plug Out at Vehicle,09:44

In [14]:
ev_data=ev_data.reindex(columns=['Transaction_Date', 'Timestamp', 'Charging_Time', 'Energy_(kWh)', 'GHG_Savings_(kg)','Gasoline_Savings_(L)', 'Fee', 'Port', 'Ended_By',])

In [15]:
ev_data['Transaction_Date'] = pd.to_datetime(ev_data['Transaction_Date'], errors='coerce')
weather_data['Date'] = pd.to_datetime(weather_data['Date'], errors='coerce')

In [16]:
# Rename 'Date' column in weather_data to 'Timestamp' to help with the merge with ev_data
weather_data = weather_data.rename(columns={'Date': 'Transaction_Date'})

# Lets Check  : datetime64[ns]
print(ev_data['Transaction_Date'].dtype, weather_data['Transaction_Date'].dtype)

datetime64[ns] datetime64[ns]

## 3) Merge data 
* charging_data.csv & Weather.csv.

In [17]:
merged_data = pd.merge(ev_data, weather_data, on='Transaction_Date', how='inner')

In [18]:
merged_data.duplicated().any(), merged_data.shape

(False, (3482085, 16))

In [19]:
merged_data['Transaction_Date'].dt.month_name().unique()

array(['August', 'September', 'October', 'November', 'December',
       'January', 'February', 'March', 'April', 'May', 'June', 'July'],
      dtype=object)

In [20]:
merged_data['Ended_By'].unique()

array(['Plug Out at Vehicle', 'Customer', 'CPS Server',
       'Outlet Unreachable', 'Plug Removed While Rebooting', 'Unknown',
       'Final GFCI Tripped', 'Final 4-strikes GFCI trip',
       'Holster Plugin', 'Relay Stuck Closed'], dtype=object)

In [21]:
merged_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3482085 entries, 0 to 3482084
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   Transaction_Date      datetime64[ns]
 1   Timestamp             object
 2   Charging_Time         object
 3   Energy_(kWh)          float64
 4   GHG_Savings_(kg)      float64
 5   Gasoline_Savings_(L)  float64
 6   Fee                   float64
 7   Port                  int64
 8   Ended_By              object
 9   Temp (C)              float64
 10  Dew Point Temp (C)    float64
 11  Rel Hum (%)           float64
 12  Wind Spd (km/h)       float64
 13  Visibility (km)       float64
 14  Stn Press (kPa)       float64
 15  Weather               object
dtypes: datetime64[ns](1), float64(10), int64(1), object(4)
memory usage: 451.6+ MB

## 4) Save DataFrame to a CSV file

In [22]:
# save csv
# merged_data.to_csv('merged_data.csv', index=False)